<div class="center jumbotron">
<h2>
   Welcome to my Sample Home Page
    <br/>
    <br/>
  <p> I have found great inspiration in learning Ruby on Rails after testing
      some of the web app using Rspec/Capybara. Bootstrap has made a novice
      life quite easy because it custom-made and reponsive nature of boootstrap </p> 
</h2>
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="3000">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%=image_tag("cars.jpeg", :alt => "car1")%>
      <div class="carousel-caption">
          <h3>Cool Exhaust Pipes</h3>
      </div>
    </div>
    <div class="item">
      <%=image_tag("car2.jpg", :alt => "car2")%>
      <div class="carousel-caption">
          <h3>Replacing headlights</h3>
      </div>
    </div>
    <div class="item">
      <%=image_tag("car3.jpg", :alt => "car3")%>
      <div class="carousel-caption">
          <h3>Cool Looking Cars</h3>
      </div>
    </div>
  </div>
  <br/>
  <br/>
  <div class="row">
  <div id="lexus1" class="col-xs-6 col-md-3">
    <a href="/assets/lexus.jpeg", class="thumbnail">
      <%= image_tag("lexus.jpeg", :alt => "Generic placeholder thumbnail") %>
    </a>
  </div>
  <div id="lexus2" class="col-xs-6 col-md-3">
    <a href="/assets/lexus2.jpeg" class="thumbnail">
      <%= image_tag("lexus2.jpeg", :alt => "Generic placeholder thumbnail") %>
    </a>
  </div>
   <div id="bike" class="col-xs-6 col-md-3">
    <a href="/assets/bike.jpg" class="thumbnail">
      <%= image_tag("bike.jpg", :alt => "Generic placeholder thumbnail") %>
    </a>
  </div>
   <div id="cat2" class="col-xs-6 col-md-3">
    <a href="/assets/cat2.jpg" class="thumbnail">
      <%= image_tag("cat2.jpg", :alt => "Generic placeholder thumbnail") %>
    </a>
  </div>
</div>

</br>
<div id="user_nav">
  <%= link_to image_tag("twitter.jpeg")+"Sign in with Twitter", "auth/twitter" %>
</div>
