<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_page?(root_path) || current_page?(signup_path) || current_page?(about_path) || current_page?(contact_path) %> 
   <%= render "layouts/homelayout" %>
<% else %>
   <%= render "layouts/headerlayout" %>
<% end %>
   
  <div class="container main-container" role="main">
   <% flash.each do |key, value| %>
       <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
 <%=yield %>
     <%= render 'layouts/footerlayout' %>
     <%= debug(params) if Rails.env.development? %>
   </div>
</body>
</html>
